In [2]:
import pandas as pd
import numpy as np

In [53]:
matches = pd.read_csv('matches.csv')

In [54]:
matches.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [55]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
id                 756 non-null int64
season             756 non-null int64
city               749 non-null object
date               756 non-null object
team1              756 non-null object
team2              756 non-null object
toss_winner        756 non-null object
toss_decision      756 non-null object
result             756 non-null object
dl_applied         756 non-null int64
winner             752 non-null object
win_by_runs        756 non-null int64
win_by_wickets     756 non-null int64
player_of_match    752 non-null object
venue              756 non-null object
umpire1            754 non-null object
umpire2            754 non-null object
umpire3            119 non-null object
dtypes: int64(5), object(13)
memory usage: 106.4+ KB

In [56]:
matches.describe()

                 id       season  dl_applied  win_by_runs  win_by_wickets
count    756.000000   756.000000  756.000000   756.000000      756.000000
mean    1792.178571  2013.444444    0.025132    13.283069        3.350529
std     3464.478148     3.366895    0.156630    23.471144        3.387963
min        1.000000  2008.000000    0.000000     0.000000        0.000000
25%      189.750000  2011.000000    0.000000     0.000000        0.000000
50%      378.500000  2013.000000    0.000000     0.000000        4.000000
75%      567.250000  2016.000000    0.000000    19.000000        6.000000
max    11415.000000  2019.000000    1.000000   146.000000       10.000000

In [57]:
matches.dtypes

id                  int64
season              int64
city               object
date               object
team1              object
team2              object
toss_winner        object
toss_decision      object
result             object
dl_applied          int64
winner             object
win_by_runs         int64
win_by_wickets      int64
player_of_match    object
venue              object
umpire1            object
umpire2            object
umpire3            object
dtype: object

In [23]:
matches[matches.isnull().any(axis=1)]

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
633,634,2016,Delhi,2016-05-25,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Sunrisers Hyderabad,22,0,MC Henriques,Feroz Shah Kotla,M Erasmus,C Shamshuddin,NaN
634,635,2016,Delhi,2016-05-27,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,4,DA Warner,Feroz Shah Kotla,M Erasmus,CK Nandan,NaN
635,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN
744,11340,2019,Bengaluru,30/04/19,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,no result,0,NaN,0,0,NaN,M. Chinnaswamy Stadium,Nigel Llong,Ulhas Gandhe,Anil Chaudhary
753,11413,2019,Visakhapatnam,08/05/19,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,normal,0,Delhi Capitals,0,2,RR Pant,ACA-VDCA Stadium,NaN,NaN,NaN

In [58]:
matches.isnull().sum(axis=0)

id                   0
season               0
city                 7
date                 0
team1                0
team2                0
toss_winner          0
toss_decision        0
result               0
dl_applied           0
winner               4
win_by_runs          0
win_by_wickets       0
player_of_match      4
venue                0
umpire1              2
umpire2              2
umpire3            637
dtype: int64

In [59]:
empty = (matches == '').sum(axis=0)

In [60]:
print(empty)

id                 0
season             0
city               0
date               0
team1              0
team2              0
toss_winner        0
toss_decision      0
result             0
dl_applied         0
winner             0
win_by_runs        0
win_by_wickets     0
player_of_match    0
venue              0
umpire1            0
umpire2            0
umpire3            0
dtype: int64

In [61]:
space = (matches == ' ').sum(axis=0)
print(space)

id                 0
season             0
city               0
date               0
team1              0
team2              0
toss_winner        0
toss_decision      0
result             0
dl_applied         0
winner             0
win_by_runs        0
win_by_wickets     0
player_of_match    0
venue              0
umpire1            0
umpire2            0
umpire3            0
dtype: int64

In [62]:
nan = (matches == 'nan').sum(axis=0)
print(nan)

id                 0
season             0
city               0
date               0
team1              0
team2              0
toss_winner        0
toss_decision      0
result             0
dl_applied         0
winner             0
win_by_runs        0
win_by_wickets     0
player_of_match    0
venue              0
umpire1            0
umpire2            0
umpire3            0
dtype: int64

In [63]:
NaN = (matches == 'Nan').sum(axis=0)
print(NaN)

id                 0
season             0
city               0
date               0
team1              0
team2              0
toss_winner        0
toss_decision      0
result             0
dl_applied         0
winner             0
win_by_runs        0
win_by_wickets     0
player_of_match    0
venue              0
umpire1            0
umpire2            0
umpire3            0
dtype: int64

id                 0
season             0
city               0
date               0
team1              0
team2              0
toss_winner        0
toss_decision      0
result             0
dl_applied         0
winner             0
win_by_runs        0
win_by_wickets     0
player_of_match    0
venue              0
umpire1            0
umpire2            0
umpire3            0
dtype: int64

In [64]:
city_obj = {"city": {"Ahmedabad": "Jaipur", "Dharamsala": "Chandigarh", 
                    "Indore": "Chandigarh", "Kanpur":"Rajkot","Raipur":"Delhi",
                    "Nagpur":"Hyderabad","Visakhapatnam":"Hyderabad"}}

In [65]:
matches.replace(city_obj, inplace =True)
matches.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Chandigarh,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [75]:
matches.city.unique()

array(['Hyderabad', 'Pune_RPS', 'Rajkot', 'Chandigarh', 'Bangalore',
       'Mumbai', 'Kolkata', 'Delhi', 'Jaipur', 'Chennai', 'Cape Town',
       'Port Elizabeth', 'Durban', 'Centurion', 'East London',
       'Johannesburg', 'Kimberley', 'Bloemfontein', 'Kochi', 'Pune_PW',
       'Abu Dhabi', 'Sharjah', nan, 'Pune', 'Mohali', 'Bengaluru'],
      dtype=object)

**Converting venues to respective home venues**

In [71]:
matches.loc[(matches['city'] == 'Cuttack') & (matches['season'] == 2010) , 'city'] = 'Hyderabad'

In [72]:
matches.loc[(matches['city'] == 'Cuttack') & (matches['season'] == 2010) , 'city'] = 'Hyderabad'
matches.loc[(matches['city'] == 'Cuttack') & (matches['season'] == 2012) , 'city'] = 'Hyderabad'
matches.loc[(matches['city'] == 'Cuttack') & (matches['season'] == 2014) , 'city'] = 'Kolkata'
matches.loc[(matches['city'] == 'Ranchi') & (matches['season'] == 2013) , 'city'] = 'Kolkata'
matches.loc[(matches['city'] == 'Ranchi') & (matches['season'] == 2014) , 'city'] = 'Chennai'
matches.loc[(matches['city'] == 'Ranchi') & (matches['season'] == 2015) , 'city'] = 'Chennai'

In [73]:
matches.loc[(matches['city'] == 'Hyderabad') & (matches['season'] == 2015) , 'city'] = 'Chennai'
matches.loc[(matches['city'] == 'Hyderabad') & (matches['season'] == 2015) , 'city'] = 'Chennai'
matches.loc[(matches['city'] == 'Hyderabad') & (matches['season'] == 2015) , 'city'] = 'Chennai'
matches.loc[(matches['city'] == 'Pune') & (matches['season'] == 2012) , 'city'] = 'Pune_PW'
matches.loc[(matches['city'] == 'Pune') & (matches['season'] == 2013) , 'city'] = 'Pune_PW'
matches.loc[(matches['city'] == 'Pune') & (matches['season'] == 2016) , 'city'] = 'Pune_RPS'
matches.loc[(matches['city'] == 'Pune') & (matches['season'] == 2017) , 'city'] = 'Pune_RPS'

**all the matches that were played abroad are being considered away**

In [77]:
matches.loc[matches['city'] == 'Cape Town'] = 'away'
matches.loc[matches['city'] == 'Port Elizabeth'] = 'away'
matches.loc[matches['city'] == 'Durban'] = 'away'
matches.loc[matches['city'] == 'Centurion'] = 'away'
matches.loc[matches['city'] == 'East London'] = 'away'
matches.loc[matches['city'] == 'Johannesburg'] = 'away'
matches.loc[matches['city'] == 'Kimberley'] = 'away'
matches.loc[matches['city'] == 'Bloemfontein'] = 'away'
matches.loc[matches['city'] == 'Abu Dhabi'] = 'away'
matches.loc[matches['city'] == 'Sharjah'] = 'away'

In [79]:
matches.city.unique()

array(['Hyderabad', 'Pune_RPS', 'Rajkot', 'Chandigarh', 'Bangalore',
       'Mumbai', 'Kolkata', 'Delhi', 'Jaipur', 'Chennai', 'away', 'Kochi',
       'Pune_PW', nan, 'Pune', 'Mohali', 'Bengaluru'], dtype=object)

**Rising Pune Supegiants is converted rising pune supergiant as their was an extra alphabet added for a season**

In [80]:
matches.loc[matches['team1'] == 'Rising Pune Supergiants'] = 'Rising Pune Supergiant'

In [81]:
matches.loc[matches['team2'] == 'Rising Pune Supergiants'] = 'Rising Pune Supergiant'
matches.loc[matches['toss_winner'] == 'Rising Pune Supergiants'] = 'Rising Pune Supergiant'
matches.loc[matches['winner'] == 'Rising Pune Supergiants'] = 'Rising Pune Supergiant'

In [82]:
matches.team2.unique()

array(['Royal Challengers Bangalore', 'Rising Pune Supergiant',
       'Kolkata Knight Riders', 'Kings XI Punjab', 'Delhi Daredevils',
       'Sunrisers Hyderabad', 'Mumbai Indians', 'Gujarat Lions',
       'Rajasthan Royals', 'Chennai Super Kings', 'Deccan Chargers',
       'away', 'Pune Warriors', 'Kochi Tuskers Kerala', 'Delhi Capitals'],
      dtype=object)

In [83]:
matches.winner.unique()

array(['Sunrisers Hyderabad', 'Rising Pune Supergiant',
       'Kolkata Knight Riders', 'Kings XI Punjab',
       'Royal Challengers Bangalore', 'Mumbai Indians',
       'Delhi Daredevils', 'Gujarat Lions', 'Chennai Super Kings',
       'Rajasthan Royals', 'Deccan Chargers', 'away', 'Pune Warriors',
       'Kochi Tuskers Kerala', nan, 'Delhi Capitals'], dtype=object)

**Converting all cities to labels**

In [85]:
labels = matches['city'].astype('category').cat.categories.tolist()

In [86]:
replace_map_comp = {'city' : {k: v for k,v in zip(labels,list(range(1,len(labels)+1)))}}

In [87]:
print(replace_map_comp)

{'city': {'Bangalore': 1, 'Bengaluru': 2, 'Chandigarh': 3, 'Chennai': 4, 'Delhi': 5, 'Hyderabad': 6, 'Jaipur': 7, 'Kochi': 8, 'Kolkata': 9, 'Mohali': 10, 'Mumbai': 11, 'Pune': 12, 'Pune_PW': 13, 'Pune_RPS': 14, 'Rajkot': 15, 'Rising Pune Supergiant': 16, 'away': 17}}

**Converting team1 to factors**

In [88]:
labels_team1 = matches['team1'].astype('category').cat.categories.tolist()

In [89]:
replace_map_comp_team1 = {'team1' : {k: v for k,v in zip(labels_team1,list(range(1,len(labels)+1)))}}

In [90]:
print(replace_map_comp_team1)

{'team1': {'Chennai Super Kings': 1, 'Deccan Chargers': 2, 'Delhi Capitals': 3, 'Delhi Daredevils': 4, 'Gujarat Lions': 5, 'Kings XI Punjab': 6, 'Kochi Tuskers Kerala': 7, 'Kolkata Knight Riders': 8, 'Mumbai Indians': 9, 'Pune Warriors': 10, 'Rajasthan Royals': 11, 'Rising Pune Supergiant': 12, 'Royal Challengers Bangalore': 13, 'Sunrisers Hyderabad': 14, 'away': 15}}

**Converting team2 to factors**

In [91]:
labels_team2 = matches['team2'].astype('category').cat.categories.tolist()

In [92]:
replace_map_comp_team2 = {'team2' : {k: v for k,v in zip(labels_team1,list(range(1,len(labels)+1)))}}
print(replace_map_comp_team2)

{'team2': {'Chennai Super Kings': 1, 'Deccan Chargers': 2, 'Delhi Capitals': 3, 'Delhi Daredevils': 4, 'Gujarat Lions': 5, 'Kings XI Punjab': 6, 'Kochi Tuskers Kerala': 7, 'Kolkata Knight Riders': 8, 'Mumbai Indians': 9, 'Pune Warriors': 10, 'Rajasthan Royals': 11, 'Rising Pune Supergiant': 12, 'Royal Challengers Bangalore': 13, 'Sunrisers Hyderabad': 14, 'away': 15}}

**converting toss winner to factor**

In [93]:
toss_winner = matches['toss_winner'].astype('category').cat.categories.tolist()

In [96]:
replace_map_toss_winner = {'toss_winner' : {k: v for k,v in zip(labels_team1,list(range(1,len(labels)+1)))}}
print(replace_map_toss_winner)

{'toss_winner': {'Chennai Super Kings': 1, 'Deccan Chargers': 2, 'Delhi Capitals': 3, 'Delhi Daredevils': 4, 'Gujarat Lions': 5, 'Kings XI Punjab': 6, 'Kochi Tuskers Kerala': 7, 'Kolkata Knight Riders': 8, 'Mumbai Indians': 9, 'Pune Warriors': 10, 'Rajasthan Royals': 11, 'Rising Pune Supergiant': 12, 'Royal Challengers Bangalore': 13, 'Sunrisers Hyderabad': 14, 'away': 15}}

**Converting toss decision to factors**

In [97]:
toss_decision = matches['toss_decision'].astype('category').cat.categories.tolist()

In [98]:
replace_map_toss_decision = {'toss_decision' : {k: v for k,v in zip(labels_team1,list(range(1,len(labels)+1)))}}
print(replace_map_toss_decision)

{'toss_decision': {'Chennai Super Kings': 1, 'Deccan Chargers': 2, 'Delhi Capitals': 3, 'Delhi Daredevils': 4, 'Gujarat Lions': 5, 'Kings XI Punjab': 6, 'Kochi Tuskers Kerala': 7, 'Kolkata Knight Riders': 8, 'Mumbai Indians': 9, 'Pune Warriors': 10, 'Rajasthan Royals': 11, 'Rising Pune Supergiant': 12, 'Royal Challengers Bangalore': 13, 'Sunrisers Hyderabad': 14, 'away': 15}}

**Result is also converted to factor**

In [99]:
result = matches['result'].astype('category').cat.categories.tolist()

In [102]:
replace_map_result = {'result' : {k: v for k,v in zip(labels_team1,list(range(1,len(labels)+1)))}}

In [103]:
print(replace_map_result)

{'result': {'Chennai Super Kings': 1, 'Deccan Chargers': 2, 'Delhi Capitals': 3, 'Delhi Daredevils': 4, 'Gujarat Lions': 5, 'Kings XI Punjab': 6, 'Kochi Tuskers Kerala': 7, 'Kolkata Knight Riders': 8, 'Mumbai Indians': 9, 'Pune Warriors': 10, 'Rajasthan Royals': 11, 'Rising Pune Supergiant': 12, 'Royal Challengers Bangalore': 13, 'Sunrisers Hyderabad': 14, 'away': 15}}

**Match winners attributes being converted to factor**

In [104]:
winner = matches['winner'].astype('category').cat.categories.tolist()

In [105]:
replace_map_winner = {'winner' : {k: v for k,v in zip(labels_team1,list(range(1,len(labels)+1)))}}

In [106]:
print(replace_map_winner)

{'winner': {'Chennai Super Kings': 1, 'Deccan Chargers': 2, 'Delhi Capitals': 3, 'Delhi Daredevils': 4, 'Gujarat Lions': 5, 'Kings XI Punjab': 6, 'Kochi Tuskers Kerala': 7, 'Kolkata Knight Riders': 8, 'Mumbai Indians': 9, 'Pune Warriors': 10, 'Rajasthan Royals': 11, 'Rising Pune Supergiant': 12, 'Royal Challengers Bangalore': 13, 'Sunrisers Hyderabad': 14, 'away': 15}}

**Creating new rows for our calculations**